<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <title>DBMS assignment 2</title>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- <link
      rel="stylesheet"
      href="{{ url_for('static', path='/layout.css') }}"
    /> -->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <span class="navbar-brand">연락처 관리 프로그램</span>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">연락처 추가</a>
          </li>
        </ul>
        <form id="search" class="form-inline">
          <input
            id="search-input"
            class="form-control mr-sm-2"
            type="search"
            placeholder="사용자 이름 입력"
            aria-label="Search"
          />
          <button
            id="search-button"
            class="btn btn-outline-success my-2 my-sm-0"
            type="submit"
          >
            검색
          </button>
        </form>
      </div>
    </nav>
    <main role="main">
      <table class="table table-bordered">
        <thead id="table-head"></thead>
        <tbody id="results"></tbody>
      </table>
      <nav aria-label="Page navigation for the list of users">
        <ul class="pagination justify-content-center" id="page-navigator"></ul>
      </nav>
    </main>
    <footer>
      Designed by <a href="https://github.com/feliscatuskr">Hansaem Woo</a>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
      integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', path='/index.js') }}"></script>
  </body>
</html>
